<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right mt-2 " id="sidebar-wrapper">
    <div class="sidebar-heading" style="background-color: white;"> <svg class="bi bi-cart3" width="22px" height="22px"
        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
      </svg> <img style="width: 110px; height: 110px;" src="./assets/images/carry mark.png" alt=""> </div>

    <div class="list-group list-group-flush">

      <a [routerLink]="[{outlets:{sidebar:['dashboard']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa fa-tachometer ml-2 mr-3" aria-hidden="true"> </i>Dashboard</a>

      <a [routerLink]="[{outlets:{sidebar:['orders']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa fa-cart-plus ml-2 mr-3" aria-hidden="true"> </i>Order</a>

      <a [routerLink]="[{outlets:{sidebar:['product']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa  fa-product-hunt ml-2 mr-3" aria-hidden="true"> </i>Product</a>

      <a [routerLink]="[{outlets:{sidebar:['employee']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa fa-user ml-2 mr-3" aria-hidden="true"> </i>Employee</a>

      <a [routerLink]="[{outlets:{sidebar:['distributer']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa fa-share-alt-square ml-2 mr-3" aria-hidden="true"> </i>Distributor</a>

      <a [routerLink]="[{outlets:{sidebar:['retailer']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa  fa-asl-interpreting ml-2 mr-3" aria-hidden="true"> </i>Retailers</a>

      <a [routerLink]="[{outlets:{sidebar:['notification']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa fa-bell ml-2 mr-3" aria-hidden="true"> </i>Notification</a>

      <a [routerLink]="[{outlets:{sidebar:['reports']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa fa-file ml-2 mr-3" aria-hidden="true"> </i>Reports</a>

      <a [routerLink]="[{outlets:{sidebar:['attendence']}}]" class="list-group-item list-group-item-action  fontm"> <i
          class="fa fa-user-times ml-2 mr-3" aria-hidden="true"> </i>Attendence</a>
                    <!-- ################ MATERS  ########################## -->
      <a  class="list-group-item list-group-item-action  fontm" data-toggle="collapse" data-target="#demo"> <i
          class="fa fa-tachometer ml-2 mr-3" aria-hidden="true"> </i>Masters</a>

      <a id="demo" class="collapse scroll-sidebar">
        <li class="ml-4 font-weight-lighter list-group-item small   fontm" [routerLink]="[{outlets:{sidebar:['brand']}}]">Brand</li>
        <li class="ml-4 font-weight-lighter list-group-item small   fontm" [routerLink]="[{outlets:{sidebar:['category']}}]">catogery</li>
        <li class="ml-4 font-weight-lighter list-group-item small   fontm" [routerLink]="[{outlets:{sidebar:['material']}}]">Material</li>
        <li class="ml-4 font-weight-lighter list-group-item small   fontm" [routerLink]="[{outlets:{sidebar:['size']}}]">Size</li>
        <li class="ml-4 font-weight-lighter list-group-item small   fontm" [routerLink]="[{outlets:{sidebar:['color']}}]">Color</li>
        <li class="ml-4 font-weight-lighter list-group-item small   fontm" [routerLink]="[{outlets:{sidebar:['size']}}]">Location</li>
        <li class="ml-4 font-weight-lighter list-group-item small   fontm" [routerLink]="[{outlets:{sidebar:['size']}}]">Sub Category</li>
      </a>


    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <i class="fa fa-bars" aria-hidden="true" id="menu-toggle"></i>
      <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link"><i class="fa fa-bell ml-2" aria-hidden="true"> </i></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-sort-amount-desc ml-2 mr-1" aria-hidden="true"> </i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="[{outlets:{sidebar:['dashboard']}}]">Action</a>
              <a class="dropdown-item" [routerLink]="[{outlets:{sidebar:['addproduct']}}]">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item ml-2 mt-2 mr-3">
            <i class="fa-lg fa fa-sign-out" (click)="fn_logout()" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <!-- <router-outlet name="Sidebar"></router-outlet> -->
      <router-outlet name="sidebar"></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->

  </div>