<h2>
    Size
</h2>
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Size</th>
                    <th class="text-right">Edit</th>
                    <th class="text-right">Delete</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let size of sizeList_obj">
                    <td> {{size.strName}}</td>
                    <td (click)="openLg(content)" class="text-right"><svg class="bi bi-pencil-square" width="1em"
                            height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg></td>
                    <td class="text-right"><i class="fa fa-trash col-md-1"></i></td>
                </tr>

            </tbody>
        </table>
        <hr>
    </div>
</div>
<!-- <div >
    <div>
        <div *ngFor="let size of sizeList_obj">
            <div class="row material rounded fontm">
                <div class="col-md-10 mt-2">{{size.strName}}</div>
                <i class="fa fa-trash col-md-1"></i>
                <i class="fa fa-pencil col-md-1" (click)="openLg(content)"></i>

            </div>
            <br>
        </div>
    </div>
</div> -->


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit size</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       
        <input type="text" class="form-control carryBorder">
        <span class="small">Edit size name </span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-success"> save</button>
    </div>
</ng-template>