
<div class="container-fluid">
 
    <div class="row">
        <div class="col-6"><h2>Employee List</h2></div>
        <div class="col-6"><input type="text"><input type="text"></div>
    </div>
    
</div>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Si.No</th>
            <th>Name</th>
            <th>Employee ID</th>
            <th>Present/Absent</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Target</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let objEmployee of arrEmployeeList">
            <td>{{objEmployee.slNo}}</td>
            <td>{{objEmployee.strName}}</td>
            <td>{{objEmployee.strEmployeeId}}</td>
            <td>{{objEmployee.strPresent}}</td>
            <td>{{objEmployee.strPhone}}</td>
            <td>{{objEmployee.strEmail}}</td>
            <td>{{objEmployee.strAddress}}</td>
            <td>{{objEmployee.strTarget}}</td>
        </tr>

        
        <!--     <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr> -->
        </tbody>
      </table>