<div class="modal-header">
    <h4 class="modal-title">Create Products</h4>
</div>
<form [formGroup]="form">
    <div class="modal-body row">

        <!-- Name -->
        <div class="col-md-6">
            <div class="">
                <label class="small" for="strName">Product Title</label>
                <input type="text" class="form-control" id="strName" formControlName="strName"
                    placeholder="Product Title" required>

            </div>
        </div>
        <!-- Product Id -->
        <div class="col-md-6">
            <div class="">
                <label class="small" for="product">Product ID</label>
                <input type="text" class="form-control" id="strProductId" aria-describedby="gender"
                    formControlName="strProductId" placeholder="Productid">

            </div>
        </div>
        <!-- ######################### -->
        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">MRP </label>
                <input type="number" class="form-control" id="mrp" aria-describedby="name" formControlName="dblMRP"
                    placeholder="MRP">

            </div>
        </div>

        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">Selling Price </label>
                <input type="number" class="form-control" id="dblSellingPrice" aria-describedby="name"
                    formControlName="dblSellingPrice" placeholder="Selling Price">

            </div>
        </div>

        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">Retail Price </label>
                <input type="number" class="form-control" id="dblRetailerPrice" aria-describedby="name"
                    formControlName="dblRetailerPrice" placeholder="Retail Price">

            </div>
        </div>

        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">Stock </label>
                <input type="number" class="form-control" id="dblTotalStock" aria-describedby="name"
                    formControlName="dblTotalStock" placeholder="Stock">

            </div>
        </div>

        <!-- brand -->
        <div class="col-md-6">
            <label class="small" for="product">Brand</label>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option.strName">
                    {{option.strName}}
                </mat-option>
            </mat-autocomplete>

            <input type="text" class="form-control  " [matAutocomplete]="auto" placeholder="Brand"
                (input)="valueChanged($event.target.value)" (input)="Autocomplete()" formControlName="strBrandId">


        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="sel1">Gender <span class="required">*</span></label>
                <select class="form-control" formControlName="strGenderCategory" [value]="" placeholder="Select Gender">
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                    <option value="Kids">Kids</option>
                    <option value="All">All</option>
                </select>
            </div>
        </div>
        <!-- Category -->
        <div class="col-md-6">
            <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let Category of categorymain" [value]="Category.strName">
                    {{Category.strName}}
                </mat-option>
            </mat-autocomplete>
            <label class="small" for="product">Category</label>
            <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto1"
                placeholder="Category" (input)="valueChangedCate($event.target.value)" (input)="AutocompleteCate()"
                formControlName="strCategoryId">
        </div>
        <!-- sub Category -->
        <div class="col-md-6">

            <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let Category of categorysub" [value]="Category.strName">
                    {{Category.strName}}
                </mat-option>
            </mat-autocomplete>
            <label class="small" for="product">Sub Category</label>
            <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto2"
                placeholder="Sub Category" (input)="valueChangedsub($event.target.value)" (input)="Autocompletesub()"
                formControlName="SubCategory">
        </div>
        <!-- +++++++++++++++++++++++++++++++++++++++++++= STOCK COLOR AND SIZE+++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <form formGroupName="arrSizeStock">
            <div class="col-md-6">
                <table class="table table-striped table-bordered">
                    <tbody>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput id="newAttributeCountry" formControlName="strName"
                                        name="newAttributeCountry" placeholder="Size">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput id="newAttributeCity" formControlName="dblStock"
                                        name="newAttributeCity" placeholder="Stock">
                                </mat-form-field>
                            </td>

                            <td>
                                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                            </td>
                        </tr>

                        <tr *ngFor="let field of fieldArray; let i = index">
                            <td>

                                <mat-form-field>
                                    <input matInput formControlName="strName" name="{{field.country}}"
                                        placeholder="Size">
                                </mat-form-field>

                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="dblStock" name="{{field.city}}"
                                        placeholder="Stock">
                                </mat-form-field>
                            </td>
                            <td>
                                <button class="btn btn-default" type="button"
                                    (click)="deleteFieldValue(i)">Delete</button>
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </form>
        <form formGroupName="arrColorStock">
            <div class="col-md-6">
                <table class="table table-striped table-bordered">
                    <tbody>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput id="newAttributeCountry" formControlName="strName"
                                        name="newAttributeCountry" placeholder="Color">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input type="number" matInput id="newAttributeCity" formControlName="dblStock"
                                        name="newAttributeCity" placeholder="Stock">
                                </mat-form-field>
                            </td>

                            <td>
                                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                            </td>
                        </tr>

                        <tr *ngFor="let field of fieldArray; let i = index">
                            <td>

                                <mat-form-field>
                                    <input matInput formControlName="strName" name="{{field.country}}"
                                        placeholder="Size">
                                </mat-form-field>

                            </td>
                            <td>
                                <mat-form-field>
                                    <input type="number" matInput formControlName="dblStock" name="{{field.city}}"
                                        placeholder="Stock">
                                </mat-form-field>
                            </td>
                            <td>
                                <button class="btn btn-default" type="button"
                                    (click)="deleteFieldValue(i)">Delete</button>
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </form>
        <!-- material -->
        <div class="col-md-6">
            <mat-autocomplete #auto3="matAutocomplete">
                <mat-option *ngFor="let Category of materialList" [value]="Category.strName">
                    {{Category.strName}}
                </mat-option>
            </mat-autocomplete>
            <label class="small" for="stock">Materials</label>
            <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto3"
                placeholder="Material name" (input)="valuechangeMaterial($event.target.value)" (input)="materials()"
                formControlName="Material">
        </div>
        <!-- ||||||||||||||||||| item UINIT IN |||||||||||||||||||||||||||| -->
        <div class="col-md-6">
            <div class="ml-2 mt-2">
                <span class="fontm mr-2"> Product to </span> <input type="checkbox"> <span class="fontm mr-2">
                    B2B</span><input type="checkbox"><span class="fontm">B2C</span>
            </div>
            <div class="border mt-2 rounded bg-light text-dark carryBorder rounded">
                <p class="text-center">ITEM UNIT IN</p>
                <input type="radio" name="unit" class=" ml-2 " value="Liter" formControlName="strUnit"> liter
                <input type="radio" name="unit" class=" ml-2 " value="Kg" formControlName="strUnit"> Kg
                <input type="radio" name="unit" class=" ml-2 " value="Qty" formControlName="strUnit"> Qty
            </div>
        </div>
        <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <div class="col-md-6">
            <label class="small" for="product"> Descreption</label>
            <input type="text" class="form-control" id="strGender" aria-describedby="gender"
                formControlName="strDescription" placeholder="Descreption">

        </div>


        <!-- IMges -->
        <img *ngFor='let url of urls' [src]="url" height="200"> <br />

        <input type='file' (change)="onSelectFile($event)" multiple>
        <button (click)="uploadFiles()">uplisdsf</button>




        <div>
            <button (click)="fn_finalProductUpload()">okkk</button>
        </div>
    </div>
</form>