<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>


<div class="container-fluid">

  <div class="row">
    <div class="col-6 mt-2">
      <h2>Order List</h2>
    </div>
    <div class="row col-6">

      <div class="col-7">
      </div>
      <div class="border-ligth form-control col-md-4 rounded-pill row mt-2">
        <!-- hgdfdf --><input type="text" placeholder=" Search" class="border-0 col-md-10">
        <i class="fa fa-search"></i>


      </div>
      <mat-icon (click)="sideNav.toggle()" style="float: right;" class="col-1 mt-2 ml-4">filter_list</mat-icon>




    </div>

  </div>
  <!-- ############################################################################ -->
  <mat-drawer-container class="example-container">
    <mat-drawer #sideNav mode="side" opened="false" [position]="nav_position">
      <hr>

      <div class="container">
        <mat-form-field>
          <mat-label>Status Wise</mat-label>
          <mat-select multiple name="arrBrands">
            <mat-option *ngFor="let status of  statusWise"> {{status.strName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="container">
        <mat-form-field>
          <mat-label>Distributer</mat-label>
          <mat-select multiple [(ngModel)]=filterObj.arrDistributerId name="arrDistributerId">
            <mat-option *ngFor="let arrDistributerId of  distlist" [value]="arrDistributerId._id">
              {{arrDistributerId.strName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container">
        <mat-form-field>
          <mat-label>Executive</mat-label>
          <mat-select multiple [(ngModel)]=filterObj.arrExecutiveId name="arrExecutiveId">
            <mat-option *ngFor="let arrExecutiveId of  employee" [value]="arrExecutiveId._id">
              {{arrExecutiveId.strName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button class="form-control btn-outline-secondary mt-1
      " (click)="onpager($event)"> Apply</button>

    </mat-drawer>
    <mat-drawer-content>

      <table class="table table-striped text-center" matSort (matSortChange)="sortData($event);onpager($event);">
        <thead>
          <tr>
            <th class="text-left">Si.No</th>
            <th mat-sort-header="strOrderId">Order ID</th>
            <th mat-sort-header="strName">Shop Name</th>
            <th mat-sort-header="time">Order Time</th>
            <!-- <th mat-sort-header="dist">Distributer</th> -->
            <th mat-sort-header="Status">Status</th>
            <th mat-sort-header="Amount">Amount</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let objOrder of orderList_obj;let i = index" (click)="openLg(objOrder)">
            <td class="text-left">{{i + 1}}</td>
            <td class="text-center" >{{objOrder.strOrderId}}</td>
            <td >{{objOrder.objAddress.strName}}</td>
            <td>{{objOrder.strCreatedTime}}</td>
            <!-- <td>{{objOrder.strDistributer}}</td> -->
            <!-- <td *ngIf="objOrder.chrStatus == 'N'" >pending </td> -->
            <td>{{objOrder.strOrderStatus}}</td>
            <td>{{objOrder.dblTotalOrderAmount}}</td>

        </tbody>
      </table>
    </mat-drawer-content>
  </mat-drawer-container>
  <!-- ##############################################################################3 -->

</div>
<mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="onpager($event)">
</mat-paginator>



