<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid" >

  <div class="row">
    <div class="col-6">
      <h2>Product List</h2>
    </div>
    <div class="row col-6">
      <input type="text" placeholder=" Search" class="border-success form-control col-md-4">
      <span><img style="width: 42px;" src="https://img.icons8.com/nolan/64/google-web-search.png" /></span>
      <input type="text" class="border-success form-control col-md-4">
    </div>

  </div>

</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Si.No</th>
        <th>Product Name</th>
        <th>Product ID</th>
        <th>Product MRP</th>
        <th>Selling Price</th>
        <th>retail price</th>
        <th>Images</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objproduct of prodGET_obj ;let i = index">
        <td>{{i + 1}}</td>
        <td>{{objproduct.strName}}</td>
        <td>{{objproduct.strProductId}}</td>
        <td>{{objproduct.dblMRP}}</td>
        <td>{{objproduct.dblSellingPrice}}</td>
        <td>{{objproduct.intAmountLimit}}</td>
        <td>{{objproduct.dblRetailerPrice}}</td>
        <td><img style="width: 28px;" src="{{objproduct.strImageUrl}}" alt="strImageUrl"></td>
        <td (click)="Openeditproduct()"> <img src="https://img.icons8.com/office/16/000000/multi-edit.png" />
        <td>
          <i (click)="fn_deleteProduct(objproduct._id);OpenDeleteDiloge()">
            <img style="width: 20px;" src="https://img.icons8.com/color/48/000000/delete-forever.png" />
          </i>
        </td>
    </tbody>
  </table>
</div>