<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">

  <div class="row">
    <div class="col-6 mt-2">
      <h2>Product List</h2>
    </div>
    <div class="row col-6 mt-2">
      <div class="border-ligth form-control col-md-4 rounded-pill">
        <!-- hgdfdf --><input type="text" placeholder=" Search" class="border-0 col-md-10">
        <i class="fa fa-search"></i>

      </div>
    
       <button class="bulk-btn" (click)="Openbulk()">Bulk import</button>

      




      <div class="ml-5">
        <i class="fa fa-plus-circle" [routerLink]="['/mainui', { outlets: { 'sidebar': ['addproduct']} } ]"
          style="font-size:40px;color:gray"></i>
      </div>
      <mat-icon (click)="sideNav.toggle()" style="float: right;" class="col-1 mt-2 ml-4">filter_list</mat-icon>


    </div>


  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer #sideNav mode="side" opened="false" [position]="nav_position">
      <div class="container">
        <mat-form-field >
          <mat-label>Brands</mat-label>
          <mat-select multiple [(ngModel)]=filterObj.arrBrands name="arrBrands">
            <mat-option *ngFor="let arrBrands of  filterbrand" [value]="arrBrands.strName"> {{arrBrands.strName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="container">
        <mat-form-field >
          <mat-label>Category</mat-label>
          <mat-select multiple [(ngModel)]=filterObj.arrCategory name="arrCategory">
            <mat-option *ngFor="let arrCategory of  filtercategory" [value]="arrCategory.strName"> {{arrCategory.strName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container " hidden>
        <mat-form-field >
          <mat-label>Material</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let Material of  filtermaterial" [value]="Material.strName"> {{Material.strName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button class="form-control btn-outline-secondary mt-1
      " (click)="onpager($event)">  Apply</button>

    </mat-drawer>
    <mat-drawer-content>

      <table class="table table-striped" matSort (matSortChange)="sortData($event);onpager($event);">
        <thead>
          <tr>
            <th>Si.No</th>
            <th mat-sort-header="strName">Product Name</th>
            <th mat-sort-header="strProductId">Product ID</th>
            <th mat-sort-header="dblMRP">Product MRP</th>
            <th mat-sort-header="dblSellingPrice">Selling Price</th>
            <th mat-sort-header="dblRetailerPrice">retail price</th>
            <th>Images</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="element text-center">
          <tr *ngFor="let objproduct of prodGET_obj ;let i = index">
            <td>{{i + 1}}</td>
            <td>{{objproduct.strName}}</td>
            <td>{{objproduct.strProductId}}</td>
            <td>{{objproduct.dblMRP}}</td>
            <td>{{objproduct.dblSellingPrice}}</td>
            <!-- <td>{{objproduct.intAmountLimit}}</td> -->
            <td>{{objproduct.dblRetailerPrice}}</td>
            <td><img style="width: 28px;" src="{{objproduct.strImageUrl}}" alt="strImageUrl"></td>
            <td (click)="Openeditproduct(objproduct)"> <svg class="bi bi-pencil-square" width="1em" height="1em"
                viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            <td>
              <i class="fa fa-trash" (click)="OpenDeleteDiloge(objproduct) "></i>
            </td>
        </tbody>
      </table>
    </mat-drawer-content>
  </mat-drawer-container>
  <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onpager($event);sortData($event);">
  </mat-paginator>
</div>

<!-- ############################################################### -->