/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fontm{
    font-family: 'Montserrat', sans-serif;
  }
.carryBorder{
  border:  #030374 solid 2px;
}
/* Mat Autocomplete on Modal Fixes */ .cdk-overlay-container {z-index: 999999 !important;}