<div class="modal-header">
    <h4 class="modal-title">Create Products</h4>
</div>
<div class="modal-body row">
    <!-- Name -->
    <div class="col-md-6">
        <div class="">
            <label class="small" for="strName">Product Title</label>
            <input type="text" class="form-control" id="strName" formControlName="strName" placeholder="Product Title">

        </div>
    </div>
    <!-- Product Id -->
    <div class="col-md-6">
        <div class="">
            <label class="small" for="product">Product ID</label>
            <input type="text" class="form-control" id="strGender" aria-describedby="gender" formControlName="strGender"
                placeholder="Product ID">

        </div>
    </div>
    <!-- ######################### -->
    <div class="col-md-3 mt-4">
        <div class="">
            <label class="small" for="mrp">MRP </label>
            <input type="number" class="form-control" id="mrp" aria-describedby="name" formControlName="strName"
                placeholder="MRP">

        </div>
    </div>

    <div class="col-md-3 mt-4">
        <div class="">
            <label class="small" for="mrp">Selling Price </label>
            <input type="number" class="form-control" id="mrp" aria-describedby="name" formControlName="strName"
                placeholder="Selling Price">

        </div>
    </div>

    <div class="col-md-3 mt-4">
        <div class="">
            <label class="small" for="mrp">Retail Price </label>
            <input type="number" class="form-control" id="mrp" aria-describedby="name" formControlName="strName"
                placeholder="Retail Price">

        </div>
    </div>

    <div class="col-md-3 mt-4">
        <div class="">
            <label class="small" for="mrp">Stock </label>
            <input type="number" class="form-control" id="mrp" aria-describedby="name" formControlName="strName"
                placeholder="Stock">

        </div>
    </div>

    <!-- brand -->
    <div class="col-md-6">
        <label class="small" for="product">Brand</label>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option.strName">
                {{option.strName}}
            </mat-option>
        </mat-autocomplete>

        <input type="text" class="form-control  " [matAutocomplete]="auto" placeholder="Brand"
            (input)="valueChanged($event.target.value)" (input)="Autocomplete()">
    </div>
    <!-- gender -->
    <div class="col-md-6">
        <div class="">
            <label class="small" for="product">Gemder</label>
            <input type="text" class="form-control" id="strGender" aria-describedby="gender" formControlName="strGender"
                placeholder="Gender ">

        </div>
    </div>
    <!-- Category -->
    <div class="col-md-6">
        <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let Category of categorymain" [value]="Category.strName">
                {{Category.strName}}
            </mat-option>
        </mat-autocomplete>
        <label class="small" for="product">Category</label>
        <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto1"
            placeholder="Category" (input)="valueChangedCate($event.target.value)" (input)="AutocompleteCate()">
    </div>
    <!-- sub Category -->
    <div class="col-md-6">

        <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let Category of categorysub" [value]="Category.strName">
                {{Category.strName}}
            </mat-option>
        </mat-autocomplete>
        <label class="small" for="product">Sub Category</label>
        <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto2"
            placeholder="Sub Category" (input)="valueChangedsub($event.target.value)" (input)="Autocompletesub()">
    </div>
    <!-- material -->
    <div class="col-md-6">
        <mat-autocomplete #auto3="matAutocomplete">
            <mat-option *ngFor="let Category of materialList" [value]="Category.strName">
                {{Category.strName}}
            </mat-option>
        </mat-autocomplete>
        <label class="small" for="stock">Materials</label>
        <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto3"
            placeholder="Material name" (input)="valuechangeMaterial($event.target.value)" (input)="materials()">
    </div>
    <!-- Stock -->
    <div class="col-md-6">
        <div class="">
            <label class="small" for="stock">Total Stock</label>
            <input type="text" class="form-control" id="strGender" aria-describedby="gender" formControlName="strGender"
                placeholder="Stock">

        </div>
    </div>

    <!-- SIZE STOCK -->



    <!-- IMges -->
    <div class="col-md-6">
        <div class="form-group m-t-30">
            <input type="file" accept="image/*" />
        </div>
    </div>

    <!-- imageUpload start-->

    <div class="col-md-6">
        <div class="col-md-4">
            <div class="form-group" style="position: relative;">
                <img src="../../../assets/images/fd.png" style="width: 250px;" />
                <span class="image-delete-btn"><i class="fa fa-trash"></i></span>
            </div>
        </div>
        <!-- <div class="col-md-6" *ngIf="strButtonName ==='Update'">
        <div class="form-group">
            <img class="img-responsive edit-img-br" src="{{strImageUrl}}">
        </div>
    </div> -->
    </div>
<!-- 
    <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList" [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>  -->