<div class="modal-header">
    <h4 class="modal-title">Create Products</h4>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-body row">

        <!-- Name -->
        <div class="col-md-6">
            <div class="">
                <label class="small" for="strName">Product Title</label>
                <input type="text" class="form-control" id="strName" formControlName="strName"
                    placeholder="Product Title" required>

            </div>
        </div>
        <!-- Product Id -->
        <div class="col-md-6">
            <div class="">
                <label class="small" for="product">Product ID</label>
                <input type="text" class="form-control" id="strProductId" aria-describedby="gender"
                    formControlName="strProductId" placeholder="Productid">

            </div>
        </div>
        <!-- ######################### -->
        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">MRP </label>
                <input type="number" class="form-control" id="mrp" aria-describedby="name" formControlName="dblMRP"
                    placeholder="MRP">

            </div>
        </div>

        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">Selling Price </label>
                <input type="number" class="form-control" id="dblSellingPrice" aria-describedby="name"
                    formControlName="dblSellingPrice" placeholder="Selling Price">

            </div>
        </div>

        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">Retail Price </label>
                <input type="number" class="form-control" id="dblRetailerPrice" aria-describedby="name"
                    formControlName="dblRetailerPrice" placeholder="Retail Price">

            </div>
        </div>

        <div class="col-md-3 mt-4">
            <div class="">
                <label class="small" for="mrp">Stock </label>
                <input type="number" class="form-control" id="dblTotalStock" aria-describedby="name"
                    formControlName="dblTotalStock" placeholder="Stock">

            </div>
        </div>

        <!-- brand -->
        <div class="col-md-6">
            <label class="small" for="product">Brand</label>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option.strName">
                    {{option.strName}}
                </mat-option>
            </mat-autocomplete>

            <input type="text" class="form-control  " [matAutocomplete]="auto" placeholder="Brand"
                (input)="valueChanged($event.target.value)" (input)="Autocomplete()" formControlName="strBrandId">
        </div>
        <!-- gender -->
        <div class="col-md-6">
            <div class="">
                <label class="small" for="product">Gemder</label>
                <input type="text" class="form-control" id="strGenderCategory" aria-describedby="gender"
                    placeholder="Gender " formControlName="strGenderCategory">

            </div>
        </div>
        <!-- Category -->
        <div class="col-md-6">
            <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let Category of categorymain" [value]="Category.strName">
                    {{Category.strName}}
                </mat-option>
            </mat-autocomplete>
            <label class="small" for="product">Category</label>
            <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto1"
                placeholder="Category" (input)="valueChangedCate($event.target.value)" (input)="AutocompleteCate()"
                formControlName="strCategoryId">
        </div>
        <!-- sub Category -->
        <div class="col-md-6">

            <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let Category of categorysub" [value]="Category.strName">
                    {{Category.strName}}
                </mat-option>
            </mat-autocomplete>
            <label class="small" for="product">Sub Category</label>
            <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto2"
                placeholder="Sub Category" (input)="valueChangedsub($event.target.value)" (input)="Autocompletesub()"
                formControlName="SubCategory">
        </div>
        <!-- material -->
        <div class="col-md-6">
            <mat-autocomplete #auto3="matAutocomplete">
                <mat-option *ngFor="let Category of materialList" [value]="Category.strName">
                    {{Category.strName}}
                </mat-option>
            </mat-autocomplete>
            <label class="small" for="stock">Materials</label>
            <input type="text" class="form-control mt-2  " [formControl]="control1" [matAutocomplete]="auto3"
                placeholder="Material name" (input)="valuechangeMaterial($event.target.value)" (input)="materials()"
                formControlName="Material">
        </div>

        <!-- SIZE STOCK -->
        <!-- enter SIZE -->
        <div>
            <form formGroupName="arrSizeStock">
                <div class="col-md-12 mt-4">

                    <label class="small" for="mrp">Size </label>
                    <input type="text" class="form-control" id="mrp" aria-describedby="name" formControlName="strName"
                        placeholder="size">


                </div>
                <div class="col-md-12 mt-4">
                    <label class="small" for="mrp">stock </label>
                    <input type="number" class="form-control" id="mrp" aria-describedby="name"
                        formControlName="dblStock" placeholder="dblStock">

                </div>
            </form>
            <!-- ###############color############### -->
            <form formGroupName="arrColorStock">
                <div class="">
                    <div class="">
                        <label class="small" for="mrp">Color </label>
                        <input type="text" class="form-control" id="mrp" aria-describedby="name"
                            formControlName="strName" placeholder="color name">

                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label class="small" for="mrp">stock </label>
                        <input type="number" class="form-control" id="mrp" aria-describedby="name"
                            formControlName="dblStock" placeholder="stock">

                    </div>
                </div>
            </form>
        </div>
        <!-- ###############description -->
        <div class="col-md-6">
            <label class="small" for="product"> Descreption</label>
            <input type="text" class="form-control" id="strGender" aria-describedby="gender"
                formControlName="strDescription" placeholder="Descreption">

        </div>
        <!-- _______________________________________________________ -->
        <div class="col-md-6">
            <div class="ml-2 mt-2">
                <span class="fontm mr-2"> Product to </span> <input type="checkbox"> <span class="fontm mr-2">
                    B2B</span><input type="checkbox"><span class="fontm">B2C</span>
            </div>
            <div class="border mt-2 rounded bg-light text-dark carryBorder rounded">
                <p class="text-center">ITEM UNIT IN</p>
                <input type="radio" name="unit" class=" ml-2 "> liter
                <input type="radio" name="unit" class=" ml-2 "> Kg
                <input type="radio" name="unit" class=" ml-2 "> Qty
            </div>
        </div>


        <!-- IMges -->
        <div class="col-md-6">
            <div class="form-group m-t-30">
                <input type="file" accept="image/*" multiple (change)="onSelectFile($event)" />
            </div>
        </div>

        <!-- imageUpload start-->

        <div class="col-md-6" *ngFor='let url of urls'>
            <div class="col-md-4">
                <div class="form-group" style="position: relative;">
                    <img [src]="url" style="width: 250px;" />
                    <span class="image-delete-btn"><i class="fa fa-trash"></i></span>
                </div>
            </div>
            <!-- <div class="col-md-6" *ngIf="strButtonName ==='Update'">
        <div class="form-group">
            <img class="img-responsive edit-img-br" src="{{strImageUrl}}">
        </div>
    </div> -->
        </div>
    </div>
    <p>
        Form Status: {{ form.status }}
    </p>
    <p>
        <button type="submit" (click)="updateProfile()">Update Profile</button>
    </p>
</form>
<!-- 
    <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList" [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>  -->