.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  /* ######################################### */
  .fileupback {
    background-image: url('/src/assets/images/fileupload.png');
    background-position:center;
    background-repeat:no-repeat;
  }
  /* ################################ */
  .example-full-width{
    width:100%
}
th.mat-sort-header-sorted {
    color: black;
  }

.slNo{
    margin-right:10px
}
.sizeName{
    text-transform: uppercase;
}
.stock{
    margin-right: 10px;

}
.edit-btn{
    padding: 4px 6px;
    color: white;
    background-color: #ffb22b;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 5px;

}
.delete-btn{
    padding: 4px 6px;
    color: white;
    background-color: #ef5350;
    cursor: pointer;
    border-radius: 50%;
    
}
.btn-functional{
    float: right
}

.image-delete-btn{
    position: absolute;
    right: 7px;
    top: 7px;
    padding: 4px 8px;
    color: white;
    background-color: #ef5350;
    cursor: pointer;
    border-radius: 50%;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(251, 253, 253, 0.972);
}